circuitpython/*.uf2
data/campaign*
data/CometEls.txt
data/altitude_angle
data/azimuth_angle
data/*.json
data/constellationship.fab
data/de421.bsp
data/hip_main.dat
data/*.pkl
data/pilomar_sessions.txt
log/buildpilomar
log/*.log
src/__pycache__
